@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  color: black;
  display: grid;
}

a,
a:visited,
a:active{
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
}

header {
  background-color: #2e3238;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  font-size: 14px;
}

.header-img-div {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

#header-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.nav-link {
  margin-right: 5px;
  color: white;
}

.video-section {
  margin-top: 50px;
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.information {
  /*background:PaleTurquoise;    this*/
  padding-top: 50px; /*shifts the div down to clear the navbar*/
  height: auto;
  line-height: 1.6;
}

.info-card {
  width: 95%;
 /* text-align: justify;
  text-justify: inter-word;*/
}

#info1 {
  /*padding-top: 50px;*/
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#info2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.information a,
a:visited,
a:active{
  text-decoration: none;
  color: grey;
}

.information a:hover {
  color: lightgrey;
}

.price {
  /*background:LightPink;*/
  padding-top: 50px; /*shifts the div down to clear the navbar*/
}

.price-container {
  width: 100%;
}

.price-card {
  /*width: 80%;*/
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  text-align: center;
}

.price-card h3 {
  margin-left: auto;
  margin-right: auto;
}

.price-img {
  max-width: 100%;
  display: block;
  height: auto;
}

#price1 {
  /*background-color: lightblue;*/
  margin-top: 5vh;
}

#price2 {
  /*background-color: grey;*/
  margin-top: 5vh;
}

#price3 {
  /*background-color: green;*/
  margin-top: 5vh;
}

.contact {
  background:PaleGreen;
  height: 95vh;
}

.footer {
  background:Orange;
}

@media (min-width: 321px) {
  nav {
    margin-right: 10px;
    font-size: 16px;
  }

  .nav-link {
    margin-right: 10px;
  }

  .information {
    height: auto;
  }
  .info-card {
    height: auto;
    width: 80%
  }

  #info1 {
    margin-top: 10vh;
    margin-left: 10%;
  }

  #info2 {
    margin-top: 10vh;
    margin-left: 10%;
  }

  .price-img {
    margin-left: auto;
    margin-right: auto;
  }

  .price-card {
    /*border: 2px solid black;*/
    width: 80%;
  }
}

@media (min-width: 769px) {
  nav {
    margin-right: 20px;
    font-size: 16px;
  }

  .nav-link {
    margin-right: 30px;
  }

  .information {
    height: 100vh;
  }
  .info-card {
    height: auto;
    width: 80%
  }

  #info1 {
    margin-top: 15vh;
    margin-left: 10%;
  }

  #info2 {
    margin-top: 20vh;
    margin-left: 10%;
  }

  .price {
    display: flex;
  }

  .price-container {
    width: 33.33%;
  }
}